<ion-content padding>
  <!--表单控件-->
  <form class="m-input-group">
    <!--手机号码-->
    <label class="m-input-item">
      <span class="icon"><img [src]="service.imgs.icon.mobile" alt="手机号"></span>
      <input type="number" name="mobile" [(ngModel)]="form_data.mobile" oninput="if(value.length>11)value=value.slice(0,11)" placeholder="请输入手机号">
      <i class="m-clear" *ngIf="form_data.mobile" (click)="form_data.mobile=null"><img [src]="service.imgs.icon.delete" alt="x"></i>
    </label>
    <!--短信验证码-->
    <label class="m-input-item">
      <span class="icon"><img [src]="service.imgs.icon.verify" alt="验证码"></span>
      <input type="text" name="code" [(ngModel)]="form_data.validate_code" placeholder="请输入短信验证码">
      <i class="m-clear" *ngIf="form_data.validate_code" (click)="form_data.validate_code=null"><img [src]="service.imgs.icon.delete" alt="x"></i>
      <button class="m-btn theme" (click)="sendCode()" [disabled]="!(form_data.mobile && !clock['on-off'])">
        {{clock["on-off"]?clock.interval+'S':clock.value}}
      </button>
    </label>
    <!--密码-->
    <label class="m-input-item">
      <span class="icon"><img [src]="service.imgs.icon.password" alt="密码"></span>
      <input type="password" name="password" [(ngModel)]="form_data.newPassword" placeholder="设置密码">
      <i class="m-clear" *ngIf="form_data.newPassword" (click)="form_data.newPassword=null"><img [src]="service.imgs.icon.delete" alt="x"></i>
    </label>
    <!--确认密码-->
    <label class="m-input-item">
      <span class="icon"><img [src]="service.imgs.icon.password_confirm" alt="密码"></span>
      <input type="password" name="repassword" [(ngModel)]="form_data.repassword" placeholder="确认密码">
      <i class="m-clear" *ngIf="form_data.repassword" (click)="form_data.repassword=null"><img [src]="service.imgs.icon.delete" alt="x"></i>
    </label>
    <!--提交按钮-->
    <button class="m-btn block theme" (click)="submitForm()">完成</button>
  </form>
</ion-content>