ion-content{
  --background: transparent;

  .checkbox-text{color: #999999; a{color: #5EC6C3; } }

  .m-checkbox{margin: 10px 10px 0;}

  .m-btn.block{margin-top: 2em;}

  label.m-input-item{height: 60px;.m-btn{margin-right: 1em;}}

}


