
.m-list-item{
   padding: .8em .5em;
  div{overflow: hidden;}
  .pic{
    width: 50px; height: 50px;
    margin-right: .8em;
    border-radius: 4px;
  }
  .content{
    height: 50px; flex: 1;
    >div:last-child{
      width: 80%; color: #999999;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    h6{margin: 0;}
    time{color: #999999}
  }
}