// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #EC3F78;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #EC3F78;
  --ion-color-danger-tint: #EC3F78;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

/**静态资源路径**/
$static_resource_path : "http://172.16.1.130:888/chanxa";

/**主题色**/
$themeColor : #5EC6C3;

/**自定义ICON**/
$icon-home-default : $static_resource_path+"/images/icon/store_store.png";
$icon-home-active : $static_resource_path+"/images/icon/store_click.png";

$icon-classify-default : $static_resource_path+"/images/icon/classify_default.png";
$icon-classify-active : $static_resource_path+"/images/icon/classify_selection.png";

$icon-car-default : $static_resource_path+"/images/icon/shopping_cart_default.png";
$icon-car-active : $static_resource_path+"/images/icon/shopping_cart_selection.png";

$icon-account-default : $static_resource_path+"/images/icon/my_default_effect.png";
$icon-account-active : $static_resource_path+"/images/icon/my_effect_of_selection.png";

$icon-collection-default : $static_resource_path+"/images/icon/collection_white_default.png";
$icon-collection-active : $static_resource_path+"/images/icon/collection_white_active.png";

$icon-search : $static_resource_path+"/images/icon/icon_sousuo.png";
$icon-delete : $static_resource_path+"/images/icon/sign_in_delete.png";
$icon-love : $static_resource_path+"/images/icon/unselected_love.png";
$icon-updown : $static_resource_path+"/images/icon/icon_shangxiaqiehuan_default.png";
$icon-updown-up : $static_resource_path+"/images/icon/icon_shangxiaqiehuan_up.png";
$icon-updown-down : $static_resource_path+"/images/icon/icon_shangxiaqiehuan_down.png";

$right-arrow : $static_resource_path+"/images/icon/gray_arrow.png";

$home-header-bg : $static_resource_path+"/images/bg/my.png";

$ticket-left : $static_resource_path+"/images/icon/coupons_r.png";
$ticket-right : $static_resource_path+"/images/icon/coupons_e.png";

$star : $static_resource_path+"/images/icon/icon_quxiaoshoucang.png";
$star-fill : $static_resource_path+"/images/icon/collection_of_success.png";

