
.header-bar{
  margin: 1px 0;
  background-color: #87D647;
  color: white;
  padding: .5em 0;
  font-size: 18px;
}

.m-list{
  margin: 10px 0;
}

.m-panel{
  margin-top: 0;
  .m-panel-bd{
    color: inherit;
    div.picture{width: 80px; height: 80px;margin-right: 10px;}
    .orders-item{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .left{flex: 7;}
      .right{flex: 3;}
      >div:not(:first-child){margin-top: .6em;}
    }
  }
  .m-panel-ft{
    .m-btn{
      display: block;
      width: 98%;
      margin: 0 auto;
    }
  }
}

.m-btn{margin-left: 1em;min-width: 100px;}