
<ion-content>
  <router-outlet></router-outlet>
  <div class="m-tabbar">
    <a routerLinkActive="active" routerLink="./home" class="m-tab">
      <i class="m-icon m-icon-home"></i>
      <div class="m-tab-text">首页</div>
    </a>
    <a routerLinkActive="active" routerLink="./classify" class="m-tab">
      <i class="m-icon m-icon-classify"></i>
      <div class="m-tab-text">分类</div>
    </a>
    <a routerLinkActive="active" routerLink="./cart" class="m-tab">
      <i class="m-icon m-icon-car"></i>
      <div class="m-tab-text">购物车</div>
    </a>
    <a routerLinkActive="active" routerLink="./account" class="m-tab">
      <i class="m-icon m-icon-account"></i>
      <div class="m-tab-text">我的</div>
    </a>
  </div>
</ion-content>
